body {
  font-family: "DM Sans", sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh; /* Minimum height of 100vh */
  margin: 0;
  font-weight: 800;
}

.board-container {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* At least half the screen */
  max-width: 1200px; /* Optional: limit the maximum width */
  text-align: center;
  margin-top: 20px;
}

.board-container h1 {
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #ff595a;
  font-weight: 800;
  font-size: 2.8rem;
}

#app {
  display: flex;
  align-items: center;
}

#left-container {
  flex: 3;
}

#right-container {
  flex: 2;
}

#grid-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  width: fit-content;
}

.grid-row {
  display: flex;
  width: fit-content;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid black;
  cursor: pointer;
}

.grid-cell:focus {
  outline: none;
}

.highlighted {
  background-color: #ff595a;
}

.lit {
  background-color: #ffe0e0;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff595a;
  font-weight: 900;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid white;
  cursor: pointer;
}

#controls {
  display: flex;
  justify-content: space-around;
}

#controls button {
  width: 30%;
  color: #fff;
  font-weight: 300;
  font-size: larger;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

#horizontal {
  background-color: #606060;
}

#vertical {
  background-color: #91b3fa;
}
#controls button:hover {
  opacity: 90%;
}

#clues-container {
  padding: 1.4rem 2rem;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid #ff595a;
  border-radius: 1rem;
}

#clues-container h2 {
  margin: 0;
  color: #ff595a;
}

.clue-group {
  text-align: left;
  margin: 4px 0px;
}

#horizontal-clues,
#vertical-clues {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.general-info * {
  margin: 0;
}

.difficulty {
  display: flex;
  align-items: baseline;
}

.difficulty-circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.facile {
  background-color: green;
}

.moyen {
  background-color: orange;
}

.difficile {
  background-color: red;
}

.info-container {
  width: 50%;
  margin: auto;
}

.info-container h2 {
  font-weight: 800;
  font-size: 2.7rem;
}
.general-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
}

.creator {
  text-align: left;
}

.description {
  font-size: 1.1rem;
  text-align: left;
  color: #4e4b4b;
  font-weight: 300;
}
