body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.create-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.create-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.step-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.step {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 15px;
  width: 15px;
  background-color: #606060;
  color: white;
  border-radius: 50%;
}

.separator {
  width: 100px;
  height: 5px;
  background-color: #606060;
  margin: 0 20px;
  border-radius: 5px;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.form-group {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.slider-group {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.slider-group * {
  flex: 1;
}

.slider-group input {
  flex: 4;
  padding: 0;
  margin: 0;
}

input,
select {
  flex: 1;
  width: 40%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid #ff595a;
  border-radius: 10px;
  font-family: inherit;
}

textarea {
  display: block;
  width: 85%;
  min-height: 10rem;
  box-sizing: border-box;
  padding: 15px;
  margin: 5px auto 20px auto;
  border: 2px solid #ff595a;
  border-radius: 10px;
  font-family: inherit;
}

input,
select,
textarea:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background: white;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ff595a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"] {
  margin: 10px 0;
  appearance: none;
  background: transparent;
}

button {
  font-size: 1.1rem;
  padding: 13px 50px;
  background-color: #ff595a;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  opacity: 90%;
}
