body {
  font-family: "DM Sans", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.signup-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 34%;
  max-width: 600px;
  text-align: center;
}

.signup-container .logo {
  width: 100px;
}

.signup-container h1 {
  letter-spacing: -2px;
  color: #ff595a;
  font-weight: 800;
  font-size: 2.8rem;
}

.signup-container p {
  margin-bottom: 20px;
  color: #666;
  font-size: 1.1rem;
  font-weight: 300;
}

.signup-container .form-group {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.signup-container .form-group input {
  flex: 1;
}

.signup-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #ff595a;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1;
  font-weight: 300;
}

.signup-container input::placeholder {
  color: #a1a1a1;
}

.signup-container input:focus {
  outline: none;
}

.signup-container button {
  margin-top: 10px;
  width: 30%;
  padding: 15px;
  background-color: #ff595a;
  border: 2px solid #ff595a;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
}

.signup-container button:hover {
  background-color: #e04e4f;
}

#error-message {
  color: red;
  margin-top: 10px;
  font-weight: 300;
}
